.flecheIcon{
  color: #0d6efd!important;
}


.path {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: dash 8s linear infinite; /* ou linear forwards */
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
