.about-me{
  background-color: white;
  position: relative;
  // height: 100vh;
  h3{
    text-align: center;
  }
  .uk-card-default{
  }
  .uk-slideshow-items{
    min-height: 440.438px!important;
  }
  .icon-fleche{
    padding-bottom: 3rem;
  }
  img{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  a{
    color: black;
    font-style: italic;
  }
  a:hover{
    color: blue;
  }
}
