.competences{
  background-color: #AACFCF;
  padding: {
    top: 2rem;
    bottom: 2rem;
  }
  img{
    // width: 3rem;
  }
  h3{
    padding-top: 1rem;
  }
  .card-competences{
    margin: 1rem;
  }
}
.card-position{
  display: flex;
  justify-content: center;
}
.card-position:hover{

}
