.formulaire{
  // height: 100vh;
  background-color: $primary;
  position: relative;
  padding-bottom: 4rem;
}

form {
  width: 90%;
  padding: 1em;
  border: 2px solid white;
  img{
    width: 2rem;
    margin: {
      left: 0.5rem;
      right: 0.5rem;
    }
  }
}

.input-form {
  border: none;
  border :{
    bottom: 2px solid black;
    radius: 0;
  }
  background-color: transparent;
  padding: 1rem;
  margin: {
    bottom: 1rem;
  }
  font-family: 'Montserrat';
}

.form-control:focus{
  background-color: transparent;
  border-color: white;
}

// input:invalid {
//   border-color: #900;
//
// }
input:focus:invalid {
  outline: none;
}
.error {
  width: 100%;
  padding: 0;
  color: white;
  background-color: #FDD;
  border-radius: 0 0 5px 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.error.active {
  padding: 0.3em;
}
.bouton-submit{
  color: white;
  border-color: $primary;
  background-color: $primary;
  &:hover{
    background-color: #0d6efd;
  }
}
