.burger-menu{
    margin:{
        top: 2rem;
        right: 2rem;
    }
    width: 40px;
    display: block;
    transition: all .3s;
    cursor: pointer;
    height: 40px;
    .bar{
        transition: all .3s;
        height: 2px;
        width: 100%;
        display: block;
        background-color: white;
    }
    .bar:nth-of-type(2){
        margin: 8px 0;
    }
    &--closed{
        transition-delay: .3s;
        .bar{
            float: right;
        }
        .bar:nth-of-type(2){
            width: 75%;
            transition-property: margin, height, width;
            transition-delay: .3s, .3s, 0s;
        }
        .bar:nth-of-type(3){
            width: 50%;
        }
        &:hover{
            .bar:nth-of-type(2){
                width: 100%;
            }
            .bar:nth-of-type(3){
                width: 100%;
            }
        }
    }
    &--opened{
        padding-top: 12px;
        z-index: 9999;
        position: fixed;
        .bar:nth-of-type(1){
            transform: rotate(45deg);
            transition-delay: .3s;
            height: 2px;
            width: 2.5rem;
        }
        .bar:nth-of-type(2){
            opacity: 0;
            height: 0;
            margin: -3px;
        }
        .bar:nth-of-type(3){
            transform: rotate(-45deg) translate(1px, -1px);
            transition-delay: .3s;
            height: 2px;
            width: 2.5rem;
        }
    }
}

.menu{

    #overlay-content{
        display: none;
        flex-direction: column;
        position: fixed;
        width: 30%;
        height: 100vh;
        z-index: 3;
        padding-top: 5rem;
        background-color: rgba(black,0.4);
        a{
            font-size: 1.8rem;
            font-family: "Lato";
            margin: 2rem;
            text-align: center;
            color: white;
            // .items-a:hover{
            //     background-color: red;
            // }
            .items-a{
                position: relative;
            }
            .items-a:hover::after{
                content: "";
                z-index: -1;
                position: absolute;
                background-color: $primary;
                border-radius: 2px;
                width: 110%;
                height: 0.7rem;
                bottom: 0px;
                left: 0;
                margin-left: -0.5rem;
                text-align: center;
            }
        }
    }
}