.projet{
  // background: linear-gradient(white, $primary);
  background-color: white;
  padding-bottom: 5rem;
  // .sous-titre{
  //   font-size: 2rem;
  // }
  // .uk-overlay-default{
  //   background: rgba(black,0.6);
  // }
  .content-project{
    display: flex;
  }

  .uk-subnav{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 2rem;
    border-left: 2px solid $primary;
    height: fit-content;
    li{
      margin-bottom: 1rem;
    }
    a{
      color: black;
    }
  }
  .uk-subnav-pill{
    .uk-active{
      a{
        background-color: $primary;
        color: white;
      }
    }
  }
  .card-project{
    width: 80%;
    img{
      max-height: 135px;
      min-height: 135px;
    }
  }

  .contour{
    border: 2px solid white;
    padding: 0.5rem;
  }
  .uk-overlay{
    padding: 0;
  }
  .titre-projet{
    color: white;    
    font-size: 2rem;
    text-align: center;
    transition: all .4s ease-in;
    h3{
      color: $primary;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 1rem;
      &:hover{
        color: #FFE6DE;
      }
    }
  }

  
  
}
// modal
.modal-contenu{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  .consignes{
    padding: 2rem;
    margin-bottom: 5rem;
  }
  .realisations{
    background-color: $primary;
    padding: 2rem;
  }
}
.modal-icones{
  img{
    width: 3rem;
    margin: 1rem;
  }
}
.btn-modal{
  a{
    background-color: $primary;
  }
}


#exemple{
  .row{
    img{
      height: 80vh;
    }
    .div1{
      text-align: center;
      width: 33%;
    }
    .div2{
      width: 33%;
      text-align: center;
    }
  }
  
}
