.projet{
  background: linear-gradient(white, $primary);
  padding-bottom: 5rem;
  // .sous-titre{
  //   font-size: 2rem;
  // }
  .uk-overlay-default{
    background: rgba(black,0.6);
  }

  .uk-subnav{
    a{
      color: black;
    }
  }
  .uk-subnav-pill{
    .uk-active{
      a{
        background-color: $primary;
        color: white;
      }
    }
  }

  .contour{
    border: 3px solid white;
    padding: 0.8rem;
  }
  .titre-projet{
    color: white;    
    font-size: 2rem;
    text-align: center;
    transition: all .4s ease-in;
    h3{
      color: $primary;
      font-size: 2rem;
      margin-top: 2rem;
      font-weight: bold;
      &:hover{
        color: #FFE6DE;
      }
    }
    p{
      font-size: 1rem;
    }
    img{
      width: 10rem;
    }
  }

  
  
}
// modal
.modal-contenu{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  .consignes{
    padding: 2rem;
    margin-bottom: 5rem;
  }
  .realisations{
    background-color: $primary;
    padding: 2rem;
  }
}
.modal-icones{
  img{
    width: 3rem;
    margin: 1rem;
  }
}
.btn-modal{
  a{
    background-color: $primary;
  }
}
