//color

$primaryDark : #7bc9cf;
$primaryLight : #b0e0e0;

$gradientPrimary : linear-gradient(0deg, #7bc9cf, #b0e0e0);
$gradientSecond : linear-gradient(0deg, #c8607f, #bb98b2);

$secondDark : #c8607f;
$secondLight : #bb98b2;

// $primary : #a997df;
// $second : #4f517d;



