@import "../utils/variables";

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
}
.body{
  z-index: 2;
}
h2 {
  padding-top: $paddingTop;
  margin-bottom: 4rem;
}
#logosvg{
  position: fixed;
  top: -150px;
  z-index: 9999;
  width: 10rem;
}
.uk-divider-vertical{
  height: 30vh;
  position: absolute;
  left: 60%;
  top: 25%;
  margin:{
    left: 0;
    right: 0;
    top: 3rem;
  }
}
.informations{
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.item-media{
  display: flex;
  justify-content: center;
  a{
    padding: {
      right: 1rem;
      left: 1rem;
    }
  }
}
.info-media{
  margin-top: 3rem;
  img{
    width: 3rem;
  }
}
.lien{
  text-decoration: none;
  // color: white;
  &:hover{
    text-decoration: none;
    color: black;
  }
}
