
.header-bg{
  background-image: url('../images/vik-paysage-f.png');
}

.banner {
  background-size: 100%;
  height: 100vh;
  width: 100%;
}
.wrapper {
  height: 5rem;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
#typping-effect{
  display: none;
}
.item1 {
    visibility: hidden;
    display: none;
  }
  .home_name {
    margin: 0;
    color: #3a3a3a;
    text-align: left;
    font-size: 4rem;
  }

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.btn-decouvrir{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  color: white;
}
