
@font-face{
  font-family:'Raleway';
  // src: url('../fonts/Raleway-Regular.ttf');

  src: url('../fonts/Raleway-Bold.ttf');
  src: url('../fonts/Raleway-Medium.ttf');
  src: url('../fonts/Raleway-Regular.ttf');
}
