@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-light.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "BadScript";
  src: url("../fonts/BadScript-Regular.ttf");
}
body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Lato";
}

h2 {
  font-family: "BadScript";
  font-size: 2.5rem;
}

h3 {
  font-family: "Montserrat";
  font-weight: 500;
}

p {
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.body {
  z-index: 2;
}

h2 {
  padding-top: 2rem;
  margin-bottom: 4rem;
}

#logosvg {
  position: fixed;
  top: -150px;
  z-index: 9999;
  width: 10rem;
}

.uk-divider-vertical {
  height: 30vh;
  position: absolute;
  left: 60%;
  top: 25%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3rem;
}

.informations {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.item-media {
  display: flex;
  justify-content: center;
}
.item-media a {
  padding-right: 1rem;
  padding-left: 1rem;
}

.info-media {
  margin-top: 3rem;
}
.info-media img {
  width: 3rem;
}

.lien {
  text-decoration: none;
}
.lien:hover {
  text-decoration: none;
  color: black;
}

.header-bg {
  background-image: url("../images/vik-paysage-f.png");
}

.banner {
  background-size: 100%;
  height: 100vh;
  width: 100%;
}

.wrapper {
  height: 5rem;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

#typping-effect {
  display: none;
}

.item1 {
  visibility: hidden;
  display: none;
}

.home_name {
  margin: 0;
  color: #3a3a3a;
  text-align: left;
  font-size: 4rem;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.btn-decouvrir {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  color: white;
}
.btn-decouvrir:hover {
  background-color: #8EA3BF !important;
}

.burger-menu {
  margin-top: 2rem;
  margin-right: 2rem;
  width: 40px;
  display: block;
  transition: all 0.3s;
  cursor: pointer;
  height: 40px;
}
.burger-menu .bar {
  transition: all 0.3s;
  height: 2px;
  width: 100%;
  display: block;
  background-color: white;
}
.burger-menu .bar:nth-of-type(2) {
  margin: 8px 0;
}
.burger-menu--closed {
  transition-delay: 0.3s;
}
.burger-menu--closed .bar {
  float: right;
}
.burger-menu--closed .bar:nth-of-type(2) {
  width: 75%;
  transition-property: margin, height, width;
  transition-delay: 0.3s, 0.3s, 0s;
}
.burger-menu--closed .bar:nth-of-type(3) {
  width: 50%;
}
.burger-menu--closed:hover .bar:nth-of-type(2) {
  width: 100%;
}
.burger-menu--closed:hover .bar:nth-of-type(3) {
  width: 100%;
}
.burger-menu--opened {
  padding-top: 12px;
  z-index: 9999;
  position: fixed;
}
.burger-menu--opened .bar:nth-of-type(1) {
  transform: rotate(45deg);
  transition-delay: 0.3s;
  height: 2px;
  width: 2.5rem;
}
.burger-menu--opened .bar:nth-of-type(2) {
  opacity: 0;
  height: 0;
  margin: -3px;
}
.burger-menu--opened .bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transition-delay: 0.3s;
  height: 2px;
  width: 2.5rem;
}

.menu #overlay-content {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 30%;
  height: 100vh;
  z-index: 3;
  padding-top: 5rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.menu #overlay-content a {
  font-size: 1.8rem;
  font-family: "Lato";
  margin: 2rem;
  text-align: center;
  color: white;
}
.menu #overlay-content a .items-a {
  position: relative;
}
.menu #overlay-content a .items-a:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: #8EA3BF;
  border-radius: 2px;
  width: 110%;
  height: 0.7rem;
  bottom: 0px;
  left: 0;
  margin-left: -0.5rem;
  text-align: center;
}

.carousselIllustrations {
  padding-top: 2rem;
}

.uk-panel {
  border: 3px solid white;
}

.hover {
  height: 395px;
  margin-bottom: 0;
  padding: 4.8rem;
}

.formulaire {
  position: relative;
  margin-bottom: 4rem;
}

form {
  width: 90%;
  padding: 1em;
  border: 1px solid #8EA3BF;
}
form img {
  width: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.input-form {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  background-color: transparent;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat";
}

.form-control:focus {
  background-color: transparent;
  border-color: white;
}

input:focus:invalid {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;
  color: white;
  background-color: #FDD;
  border-radius: 0 0 5px 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

.bouton-submit {
  color: white;
  border-color: #8EA3BF;
  background-color: #8EA3BF;
}
.bouton-submit:hover {
  background-color: #0d6efd;
}

.about-me {
  position: relative;
}
.about-me h3 {
  text-align: center;
}
.about-me .flecheIcon {
  color: #8EA3BF !important;
}
.about-me .icon-fleche {
  padding-bottom: 3rem;
}
.about-me img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.about-me a {
  color: black;
  font-style: italic;
}
.about-me a:hover {
  color: blue;
}

.competences {
  background-color: #8EA3BF;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.competences .globale .back {
  display: none;
}
.competences .globale .back img {
  width: 2.5rem;
  margin: 0.5rem;
}
.competences h3 {
  padding-top: 1rem;
}
.competences .card-competences {
  margin: 1rem;
}

.card-position {
  display: flex;
  justify-content: center;
}

#Calque_1 {
  stroke-dashoffset: 130.5001525879px;
  stroke-dasharray: 130.5001525879px;
  animation: draw 3s ease-in-out forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 0.36s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#line {
  stroke-dashoffset: 81.1695709229px;
  stroke-dasharray: 81.1695709229px;
  animation: drawline 3s ease-in-out forwards;
}

@keyframes drawline {
  from {
    stroke-dashoffset: 0.6s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f1 {
  stroke-dashoffset: 14.3356246948px;
  stroke-dasharray: 14.3356246948px;
  animation: drawf1 6s ease-in-out forwards;
}

@keyframes drawf1 {
  from {
    stroke-dashoffset: 0.72s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t1 {
  stroke-dashoffset: 11.9340381622px;
  stroke-dasharray: 11.9340381622px;
  animation: drawt1 5s ease-in-out forwards;
}

@keyframes drawt1 {
  from {
    stroke-dashoffset: 0.84s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f2 {
  stroke-dashoffset: 19.0764694214px;
  stroke-dasharray: 19.0764694214px;
  animation: drawf2 5s ease-in-out forwards;
}

@keyframes drawf2 {
  from {
    stroke-dashoffset: 0.96s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t2 {
  stroke-dashoffset: 9.2472486496px;
  stroke-dasharray: 9.2472486496px;
  animation: drawt2 5s ease-in-out forwards;
}

@keyframes drawt2 {
  from {
    stroke-dashoffset: 1.08s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f3 {
  stroke-dashoffset: 12.38397789px;
  stroke-dasharray: 12.38397789px;
  animation: drawf3 6s ease-in-out forwards;
}

@keyframes drawf3 {
  from {
    stroke-dashoffset: 1.2s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t3 {
  stroke-dashoffset: 7.6643095016px;
  stroke-dasharray: 7.6643095016px;
  animation: drawt3 7s ease-in-out forwards;
}

@keyframes drawt3 {
  from {
    stroke-dashoffset: 1.31s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f4 {
  stroke-dashoffset: 14.0542879105px;
  stroke-dasharray: 14.0542879105px;
  animation: drawf4 8s ease-in-out forwards;
}

@keyframes drawf4 {
  from {
    stroke-dashoffset: 1.44s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t4 {
  stroke-dashoffset: 14.0542879105px;
  stroke-dasharray: 14.0542879105px;
  animation: drawf4 7s ease-in-out forwards;
}

@keyframes drawf4 {
  from {
    stroke-dashoffset: 1.56s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f5 {
  stroke-dashoffset: 15.8748111725px;
  stroke-dasharray: 15.8748111725px;
  animation: drawf5 5s ease-in-out forwards;
}

@keyframes drawf5 {
  from {
    stroke-dashoffset: 1.68s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t5 {
  stroke-dashoffset: 10.7427968979px;
  stroke-dasharray: 10.7427968979px;
  animation: drawt5 6s ease-in-out forwards;
}

@keyframes drawt5 {
  from {
    stroke-dashoffset: 1.79s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f6 {
  stroke-dashoffset: 16.0225963593px;
  stroke-dasharray: 16.0225963593px;
  animation: drawf6 8s ease-in-out forwards;
}

@keyframes drawf6 {
  from {
    stroke-dashoffset: 1.92s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t6 {
  stroke-dashoffset: 7.6727113724px;
  stroke-dasharray: 7.6727113724px;
  animation: drawt6 9s ease-in-out forwards;
}

@keyframes drawt6 {
  from {
    stroke-dashoffset: 2.04s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f7 {
  stroke-dashoffset: 16.4624195099px;
  stroke-dasharray: 16.4624195099px;
  animation: drawf7 9s ease-in-out forwards;
}

@keyframes drawf7 {
  from {
    stroke-dashoffset: 2.16s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t7 {
  stroke-dashoffset: 12.1018457413px;
  stroke-dasharray: 12.1018457413px;
  animation: drawt7 7s ease-in-out forwards;
}

@keyframes drawt7 {
  from {
    stroke-dashoffset: 2.28s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f8 {
  stroke-dashoffset: 12.1998701096px;
  stroke-dasharray: 12.1998701096px;
  animation: drawf8 8s ease-in-out forwards;
}

@keyframes drawf8 {
  from {
    stroke-dashoffset: 2.4s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#f9 {
  stroke-dashoffset: 10.4595851898px;
  stroke-dasharray: 10.4595851898px;
  animation: drawf9 7s ease-in-out forwards;
}

@keyframes drawf9 {
  from {
    stroke-dashoffset: 2.52s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t8 {
  stroke-dashoffset: 9.7630629539px;
  stroke-dasharray: 9.7630629539px;
  animation: drawt8 7s ease-in-out forwards;
}

@keyframes drawt8 {
  from {
    stroke-dashoffset: 2.63s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#t9 {
  stroke-dashoffset: 17.1863431931px;
  stroke-dasharray: 17.1863431931px;
  animation: drawt9 7s ease-in-out forwards;
}

@keyframes drawt9 {
  from {
    stroke-dashoffset: 2.76s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#t10 {
  stroke-dashoffset: 12.6993637085px;
  stroke-dasharray: 12.6993637085px;
  animation: drawt10 8s ease-in-out forwards;
}

@keyframes drawt10 {
  from {
    stroke-dashoffset: 2.88s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f11 {
  stroke-dashoffset: 16.8483715057px;
  stroke-dasharray: 16.8483715057px;
  animation: drawf11 10s ease-in-out forwards;
}

@keyframes drawf11 {
  from {
    stroke-dashoffset: 3s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t11 {
  stroke-dashoffset: 12.466758728px;
  stroke-dasharray: 12.466758728px;
  animation: drawt11 9s ease-in-out forwards;
}

@keyframes drawt11 {
  from {
    stroke-dashoffset: 3.12s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f12 {
  stroke-dashoffset: 15.5754909515px;
  stroke-dasharray: 15.5754909515px;
  animation: drawf12 11s ease-in-out forwards;
}

@keyframes drawf12 {
  from {
    stroke-dashoffset: 3.52s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t12 {
  stroke-dashoffset: 7.6832489967px;
  stroke-dasharray: 7.6832489967px;
  animation: drawt12 9s ease-in-out forwards;
}

@keyframes drawt12 {
  from {
    stroke-dashoffset: 3.88s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.projet {
  background: linear-gradient(white, #8EA3BF);
  padding-bottom: 5rem;
}
.projet .uk-overlay-default {
  background: rgba(0, 0, 0, 0.6);
}
.projet .uk-subnav a {
  color: black;
}
.projet .uk-subnav-pill .uk-active a {
  background-color: #8EA3BF;
  color: white;
}
.projet .contour {
  border: 3px solid white;
  padding: 0.8rem;
}
.projet .titre-projet {
  color: white;
  font-size: 2rem;
  text-align: center;
  transition: all 0.4s ease-in;
}
.projet .titre-projet h3 {
  color: #8EA3BF;
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: bold;
}
.projet .titre-projet h3:hover {
  color: #FFE6DE;
}
.projet .titre-projet p {
  font-size: 1rem;
}
.projet .titre-projet img {
  width: 10rem;
}

.footer {
  background-color: black;
  width: 100%;
  color: white;
  height: 10vh;
  padding: 1.9rem;
  text-align: center;
}
.footer a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
