@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
}

.burger-menu {
  margin-top: 2rem;
  margin-right: 2rem;
  width: 40px;
  display: block;
  transition: all 0.3s;
  cursor: pointer;
  height: 40px;
}
.burger-menu .bar {
  transition: all 0.3s;
  height: 2px;
  width: 100%;
  display: block;
  background-color: white;
}
.burger-menu .bar:nth-of-type(2) {
  margin: 8px 0;
}
.burger-menu--closed {
  transition-delay: 0.3s;
}
.burger-menu--closed .bar {
  float: right;
}
.burger-menu--closed .bar:nth-of-type(2) {
  width: 75%;
  transition-property: margin, height, width;
  transition-delay: 0.3s, 0.3s, 0s;
}
.burger-menu--closed .bar:nth-of-type(3) {
  width: 50%;
}
.burger-menu--closed:hover .bar:nth-of-type(2) {
  width: 100%;
}
.burger-menu--closed:hover .bar:nth-of-type(3) {
  width: 100%;
}
.burger-menu--opened {
  padding-top: 12px;
  z-index: 9999;
  position: fixed;
}
.burger-menu--opened .bar:nth-of-type(1) {
  transform: rotate(45deg);
  transition-delay: 0.3s;
  height: 2px;
  width: 2.5rem;
}
.burger-menu--opened .bar:nth-of-type(2) {
  opacity: 0;
  height: 0;
  margin: -3px;
}
.burger-menu--opened .bar:nth-of-type(3) {
  transform: rotate(-45deg) translate(1px, -1px);
  transition-delay: 0.3s;
  height: 2px;
  width: 2.5rem;
}

.menu #overlay-content {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 30%;
  height: 100vh;
  z-index: 3;
  padding-top: 5rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.menu #overlay-content a {
  font-size: 1.8rem;
  font-family: "Lato";
  margin: 2rem;
  text-align: center;
  color: white;
}
.menu #overlay-content a .items-a {
  position: relative;
}
.menu #overlay-content a .items-a:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: #68688e;
  border-radius: 2px;
  width: 110%;
  height: 0.7rem;
  bottom: 0px;
  left: 0;
  margin-left: -0.5rem;
  text-align: center;
}

.carousselIllustrations {
  padding-top: 2rem;
}

.uk-panel {
  border: 3px solid white;
}

.hover {
  height: 395px;
  margin-bottom: 0;
  padding: 4.8rem;
}

.about-me {
  background-color: white;
  position: relative;
}
.about-me h3 {
  text-align: center;
}
.about-me .uk-slideshow-items {
  min-height: 440.438px !important;
}
.about-me .icon-fleche {
  padding-bottom: 3rem;
}
.about-me img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.about-me a {
  color: black;
  font-style: italic;
}
.about-me a:hover {
  color: blue;
}

#Calque_1 {
  stroke-dashoffset: 130.5001525879px;
  stroke-dasharray: 130.5001525879px;
  animation: draw 3s ease-in-out forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 0.36s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#line {
  stroke-dashoffset: 81.1695709229px;
  stroke-dasharray: 81.1695709229px;
  animation: drawline 3s ease-in-out forwards;
}

@keyframes drawline {
  from {
    stroke-dashoffset: 0.6s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f1 {
  stroke-dashoffset: 14.3356246948px;
  stroke-dasharray: 14.3356246948px;
  animation: drawf1 6s ease-in-out forwards;
}

@keyframes drawf1 {
  from {
    stroke-dashoffset: 0.72s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t1 {
  stroke-dashoffset: 11.9340381622px;
  stroke-dasharray: 11.9340381622px;
  animation: drawt1 5s ease-in-out forwards;
}

@keyframes drawt1 {
  from {
    stroke-dashoffset: 0.84s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f2 {
  stroke-dashoffset: 19.0764694214px;
  stroke-dasharray: 19.0764694214px;
  animation: drawf2 5s ease-in-out forwards;
}

@keyframes drawf2 {
  from {
    stroke-dashoffset: 0.96s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t2 {
  stroke-dashoffset: 9.2472486496px;
  stroke-dasharray: 9.2472486496px;
  animation: drawt2 5s ease-in-out forwards;
}

@keyframes drawt2 {
  from {
    stroke-dashoffset: 1.08s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f3 {
  stroke-dashoffset: 12.38397789px;
  stroke-dasharray: 12.38397789px;
  animation: drawf3 6s ease-in-out forwards;
}

@keyframes drawf3 {
  from {
    stroke-dashoffset: 1.2s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t3 {
  stroke-dashoffset: 7.6643095016px;
  stroke-dasharray: 7.6643095016px;
  animation: drawt3 7s ease-in-out forwards;
}

@keyframes drawt3 {
  from {
    stroke-dashoffset: 1.31s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f4 {
  stroke-dashoffset: 14.0542879105px;
  stroke-dasharray: 14.0542879105px;
  animation: drawf4 8s ease-in-out forwards;
}

@keyframes drawf4 {
  from {
    stroke-dashoffset: 1.44s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t4 {
  stroke-dashoffset: 14.0542879105px;
  stroke-dasharray: 14.0542879105px;
  animation: drawf4 7s ease-in-out forwards;
}

@keyframes drawf4 {
  from {
    stroke-dashoffset: 1.56s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f5 {
  stroke-dashoffset: 15.8748111725px;
  stroke-dasharray: 15.8748111725px;
  animation: drawf5 5s ease-in-out forwards;
}

@keyframes drawf5 {
  from {
    stroke-dashoffset: 1.68s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t5 {
  stroke-dashoffset: 10.7427968979px;
  stroke-dasharray: 10.7427968979px;
  animation: drawt5 6s ease-in-out forwards;
}

@keyframes drawt5 {
  from {
    stroke-dashoffset: 1.79s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f6 {
  stroke-dashoffset: 16.0225963593px;
  stroke-dasharray: 16.0225963593px;
  animation: drawf6 8s ease-in-out forwards;
}

@keyframes drawf6 {
  from {
    stroke-dashoffset: 1.92s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t6 {
  stroke-dashoffset: 7.6727113724px;
  stroke-dasharray: 7.6727113724px;
  animation: drawt6 9s ease-in-out forwards;
}

@keyframes drawt6 {
  from {
    stroke-dashoffset: 2.04s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f7 {
  stroke-dashoffset: 16.4624195099px;
  stroke-dasharray: 16.4624195099px;
  animation: drawf7 9s ease-in-out forwards;
}

@keyframes drawf7 {
  from {
    stroke-dashoffset: 2.16s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t7 {
  stroke-dashoffset: 12.1018457413px;
  stroke-dasharray: 12.1018457413px;
  animation: drawt7 7s ease-in-out forwards;
}

@keyframes drawt7 {
  from {
    stroke-dashoffset: 2.28s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f8 {
  stroke-dashoffset: 12.1998701096px;
  stroke-dasharray: 12.1998701096px;
  animation: drawf8 8s ease-in-out forwards;
}

@keyframes drawf8 {
  from {
    stroke-dashoffset: 2.4s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#f9 {
  stroke-dashoffset: 10.4595851898px;
  stroke-dasharray: 10.4595851898px;
  animation: drawf9 7s ease-in-out forwards;
}

@keyframes drawf9 {
  from {
    stroke-dashoffset: 2.52s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t8 {
  stroke-dashoffset: 9.7630629539px;
  stroke-dasharray: 9.7630629539px;
  animation: drawt8 7s ease-in-out forwards;
}

@keyframes drawt8 {
  from {
    stroke-dashoffset: 2.63s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#t9 {
  stroke-dashoffset: 17.1863431931px;
  stroke-dasharray: 17.1863431931px;
  animation: drawt9 7s ease-in-out forwards;
}

@keyframes drawt9 {
  from {
    stroke-dashoffset: 2.76s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#t10 {
  stroke-dashoffset: 12.6993637085px;
  stroke-dasharray: 12.6993637085px;
  animation: drawt10 8s ease-in-out forwards;
}

@keyframes drawt10 {
  from {
    stroke-dashoffset: 2.88s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f11 {
  stroke-dashoffset: 16.8483715057px;
  stroke-dasharray: 16.8483715057px;
  animation: drawf11 10s ease-in-out forwards;
}

@keyframes drawf11 {
  from {
    stroke-dashoffset: 3s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t11 {
  stroke-dashoffset: 12.466758728px;
  stroke-dasharray: 12.466758728px;
  animation: drawt11 9s ease-in-out forwards;
}

@keyframes drawt11 {
  from {
    stroke-dashoffset: 3.12s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#f12 {
  stroke-dashoffset: 15.5754909515px;
  stroke-dasharray: 15.5754909515px;
  animation: drawf12 11s ease-in-out forwards;
}

@keyframes drawf12 {
  from {
    stroke-dashoffset: 3.52s;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
#t12 {
  stroke-dashoffset: 7.6832489967px;
  stroke-dasharray: 7.6832489967px;
  animation: drawt12 9s ease-in-out forwards;
}

@keyframes drawt12 {
  from {
    stroke-dashoffset: 3.88s;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.projet {
  background-color: white;
  padding-bottom: 5rem;
}
.projet .content-project {
  display: flex;
}
.projet .uk-subnav {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 2rem;
  border-left: 2px solid #68688e;
  height: fit-content;
}
.projet .uk-subnav li {
  margin-bottom: 1rem;
}
.projet .uk-subnav a {
  color: black;
}
.projet .uk-subnav-pill .uk-active a {
  background-color: #68688e;
  color: white;
}
.projet .card-project {
  width: 80%;
}
.projet .card-project img {
  max-height: 135px;
  min-height: 135px;
}
.projet .contour {
  border: 2px solid white;
  padding: 0.5rem;
}
.projet .uk-overlay {
  padding: 0;
}
.projet .titre-projet {
  color: white;
  font-size: 2rem;
  text-align: center;
  transition: all 0.4s ease-in;
}
.projet .titre-projet h3 {
  color: #68688e;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}
.projet .titre-projet h3:hover {
  color: #FFE6DE;
}

.modal-contenu {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.modal-contenu .consignes {
  padding: 2rem;
  margin-bottom: 5rem;
}
.modal-contenu .realisations {
  background-color: #68688e;
  padding: 2rem;
}

.modal-icones img {
  width: 3rem;
  margin: 1rem;
}

.btn-modal a {
  background-color: #68688e;
}

#exemple .row img {
  height: 80vh;
}
#exemple .row .div1 {
  text-align: center;
  width: 33%;
}
#exemple .row .div2 {
  width: 33%;
  text-align: center;
}

.footer {
  background-color: #2b2b47;
  width: 100%;
  color: white;
  height: 10vh;
  padding: 1.9rem;
  text-align: center;
}
.footer a {
  color: white;
  text-decoration: none;
}

.section-container {
  height: 100vh;
}
.section-container .main-section {
  display: flex;
}
.section-container .main-section .summary-section {
  position: relative;
  top: 55px;
  left: calc(3vw + 40px);
  text-align: center;
  width: 80px;
}
.section-container .main-section .summary-section .elements p {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0.7;
  letter-spacing: 5px;
}
.section-container .main-section .summary-section .elements .border-line {
  height: calc(100vh - 520px);
  width: 2px;
  background-color: white;
  transform-origin: bottom left;
  margin: 0 auto;
}
.section-container .main-section .summary-section .elements h2 {
  transform-origin: 50% 50%;
  transform: rotate(-180deg);
  margin: 30px auto 0 auto;
  writing-mode: tb-rl;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 5px;
}
.section-container .main-section .content-section {
  position: relative;
  top: 130px;
  left: calc(3vw + 160px);
  width: 33%;
  z-index: 1;
}
.section-container .main-section .content-section .sub-title {
  color: black;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
}
.section-container .main-section .content-section .sub-title:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid black;
  width: 50px;
  bottom: -20px;
}
.section-container .main-section .content-section .sub-content {
  margin-top: 4rem;
  text-align: justify;
}
.section-container .main-section .content-section .sub-content p {
  color: #1e1e1e;
}

.arrow-to-top {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  transform: rotate(180deg);
}

.presentation-container {
  background-color: #68688e;
}
.presentation-container .main-section .summary-section .elements .border-line {
  height: calc(100vh - 540px);
}
.presentation-container .main-section .sub-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
}

.arrow-presentation {
  position: absolute;
  bottom: 30px;
  left: 30%;
  z-index: 2;
}

.competences-container {
  background-color: #3b3b59;
  position: relative;
}
.competences-container .main-section .summary-section .elements .border-line {
  height: calc(100vh - 460px);
}
.competences-container .main-section .content-section {
  width: 70%;
}
.competences-container .main-section .content-section .sub-title {
  width: 45%;
  color: white;
  font-size: 1.3rem;
}
.competences-container .main-section .content-section .sub-title:after {
  content: "";
  border-bottom: 3px solid white;
}
.competences-container .main-section .content-section .sub-content h3 {
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1em;
}
.competences-container .main-section .content-section .sub-content p {
  color: #a5a5a5;
}
.competences-container .main-section .content-section .sub-content .globale .back {
  display: none;
}
.competences-container .main-section .content-section .sub-content .globale .back img {
  width: 2.5rem;
  margin: 0.5rem;
}

.arrow-center {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 2;
}

.realisation-container {
  background-color: #68688e;
  position: relative;
}
.realisation-container .main-section .summary-section .elements .border-line {
  height: calc(100vh - 460px);
}

.contact-container {
  background-color: #3b3b59;
  position: relative;
}
.contact-container .main-section .summary-section .elements .border-line {
  height: calc(100vh - 390px);
}
.contact-container .main-section .content-section {
  width: 70%;
}
.contact-container .main-section .content-section .sub-title {
  color: white;
}
.contact-container .main-section .content-section .sub-title:after {
  content: "";
  border-bottom: 3px solid white;
}
.contact-container .main-section .content-section .sub-content .formulaire {
  position: relative;
  width: 50%;
}
.contact-container .main-section .content-section .sub-content form {
  width: 90%;
  padding: 1em;
}
.contact-container .main-section .content-section .sub-content form img {
  width: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.contact-container .main-section .content-section .sub-content .input-form {
  border: none;
  border-bottom: 2px solid #68688e;
  border-radius: 0;
  background-color: transparent;
  padding: 1rem;
  margin-bottom: 1rem;
}
.contact-container .main-section .content-section .sub-content .form-control:focus {
  background-color: transparent;
  border-color: white;
}
.contact-container .main-section .content-section .sub-content input:focus:invalid {
  outline: none;
}
.contact-container .main-section .content-section .sub-content .error {
  width: 100%;
  padding: 0;
  color: white;
  background-color: #FDD;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-container .main-section .content-section .sub-content .error.active {
  padding: 0.3em;
}
.contact-container .main-section .content-section .sub-content .bouton-submit {
  margin-top: 1rem;
  color: white;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
.contact-container .main-section .content-section .sub-content .bouton-submit:hover {
  background-color: #68688e;
}
.contact-container .main-section .content-section .informations {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.contact-container .main-section .content-section .item-media {
  display: flex;
  justify-content: center;
}
.contact-container .main-section .content-section .item-media a {
  padding-right: 1rem;
  padding-left: 1rem;
}
.contact-container .main-section .content-section .info-media {
  position: absolute;
  right: 0;
  bottom: 50%;
}
.contact-container .main-section .content-section .info-media img {
  width: 3rem;
}
.contact-container .main-section .content-section .lien {
  text-decoration: none;
}
.contact-container .main-section .content-section .lien:hover {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=style.css.map */
