@media screen and (max-width: 992px){
    .menu{
        #overlay-content{
            width: 100%;
            background-color: rgba(black,0.9);
        }
    }

    .about-me{
        img{
            position: relative;
        }
        .uk-slideshow-items{
            min-height: 345.5px!important;
        }
    }

    .uk-divider-vertical{
        display: none;
    }

    form{
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .about-me{
        img{
            left: -90px;
        }
        .uk-slideshow-items{
            left: 30px;
        }
    }
}

@media screen and (max-width: 540px){
    .about-me{
        .uk-slideshow-items{
            min-height: 380.5px!important;
        }
    }
}
@media screen and (max-width: 483px){
    .about-me{
        .uk-slideshow-items{
            min-height: 455.5px!important;
        }
    }
}
@media screen and (max-width: 424px){
    .about-me{
        .uk-slideshow-items{
            min-height: 510.5px!important;
        }
    }
}
@media screen and (max-width: 376px){
    .about-me{
        .uk-slideshow-items{
            min-height: 545.5px!important;
        }
    }
}

@media screen and (max-width: 760px){
    #logosvg{
        display: none;
    }
}

@media screen and (max-width: 698px){
    .footer{
        height: 13vh;
    }
}

@media screen and (max-width: 396px){
    .footer{
        height: 16vh;
    }
}