// PRESENTATION 
@media screen and (min-width: 1700px){

    .presentation-container {
        .main-section {
            .content-section {
                top: 300px;
            }
        }
    }

}

@media screen and (max-width: 1200px){
    // STRUCTURE
    .section-container {
        .main-section {
            .content-section {
                top: 170px;
                left: calc(3vw + 100px);
                width: 55%;
            }
        }
    }

    // PRESENTATION 
    .presentation-container {
        .main-section {
            .content-section {
                // width: 55%;
            }
            .sub-illustration {
                opacity: 0.7;
            }
        }
    }

    // COMPETENCES 
    .competences-container {
        .main-section {
            .content-section {
                width: 70%;
                .sub-title {
                    width: 85%;
                }
            }
            .sub-illustration {
                opacity: 0.7;
            }
        }
    }

    // REALISATIONS 
    .realisation-container {
        .main-section {
            .content-section {
                width: 50%;
                .sub-content {
                    margin-top: 2rem;
                    .projets, .illustrations {
                        justify-content: initial;
                        flex-wrap: wrap;
                        p {
                            padding: 0.4rem;
                        }
                    }
                }
            }
        }
    }

    // CONTACT 
    .contact-container {
        .main-section {
            .content-section {
                width: 70%;
            }
        }
    }

}

@media screen and (max-width: 996px){
    .logo-svg {
        left: 40%;
    }

    // COMPETENCES 
    .competences-container {
        height: auto;
        .main-section {
            .content-section {
            }
        }
    }

    // CONTACT 
    .contact-container {
        height: auto;
        .main-section {
            .content-section {
                width: 70%;
                .sub-content {
                    .formulaire {
                        width: 100%;
                    }
                }
                .item-media {
                }
                .info-media {
                    position: relative;
                    bottom: 0;
                    padding-left: 0;
                    margin-top: 2rem;
                    border-left: none;
                    display: flex;
                    justify-content: space-around;
                    a {
                        text-align: center;
                        padding-left: 0;
                    }
                }
                .informations {
                    margin-bottom: 0;
                }
            }
        }
    }

}

@media screen and (max-width: 700px){
    .logo-svg {
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
    }

    // STRUCTURE
    .section-container {
        height: auto;
        .main-section {
            display: block;
            .summary-section {
                position: initial;
                top: 0px;
                left: 0;
                text-align: center;
                width: 100%;
                padding-top: 2rem;
                padding-bottom: 2rem;
        
                .elements {
                    p {
                        color: white;
                        font-size: 3rem;
                        font-weight: bold;
                        opacity: 0.8;
                        letter-spacing: 5px;
                        text-align: center;
                    }
                    .border-line {
                        display: none;
                    }
                    h2 {
                        transform: none;
                        margin: 0px auto 0 auto;
                        writing-mode: horizontal-tb;
                    }
                }
                
            }
            .content-section {
                position: initial;
                left: 0;
                width: 100%;
                padding: 50px 40px 50px 40px;
            }
        }
    }

    // PRESENTATION 
    .presentation-container {
        .main-section {
            .sub-illustration {
                // position: initial;
                // opacity: 1;
                display: none;
                
            }
        }
    }

    // COMPETENCES 
    // .competences-container {
    //     .main-section {
    //         .summary-section {
    //             .elements {
    //                 .border-line {
    //                     height: calc(100vh - 100px);
    //                 }
    //             }
    //         }
            
    //     }
    // }

    .arrow-center {
        display: none;
    }
    
    .arrow-to-top {
        display: none;
    }

}

@media screen and (max-width: 500px){
    // STRUCTURE
    // .section-container {
        
    //     .main-section {
    //         .summary-section {
    //             width: 40px;
    //         }
    //         .content-section {
    //             left: calc(3vw + 10px);
    //         }
    //     }
    // }

    // PRESENTATION 
    .presentation-container {
        .main-section {
            // padding-top: 4rem;
            // padding-bottom: 8rem;
            .sub-illustration {
                // display: none;
            }
        }
    }
}