// PRESENTATION 
@media screen and (min-width: 1700px){

    .presentation-container {
        .main-section {
            .content-section {
                top: 300px;
            }
        }
    }

}

@media screen and (max-width: 1200px){
    // STRUCTURE
    .section-container {
        .main-section {
            .content-section {
                top: 170px;
                left: calc(3vw + 100px);
                width: 55%;
            }
        }
    }

    // PRESENTATION 
    .presentation-container {
        .main-section {
            .sub-illustration {
                opacity: 0.7;
            }
        }
    }

    // COMPETENCES 
    .competences-container {
        .main-section {
            .content-section {
                width: 70%;
                .sub-title {
                    width: 85%;
                }
            }
            .sub-illustration {
                opacity: 0.7;
            }
        }
    }

    // REALISATIONS 
    .realisation-container {
        .main-section {
            .content-section {
                width: 50%;
                .sub-content {
                    margin-top: 2rem;
                    .projets, .illustrations {
                        justify-content: initial;
                        flex-wrap: wrap;
                        p {
                            padding: 0.4rem;
                        }
                    }
                }
            }
        }
    }

    // CONTACT 
    .contact-container {
        .main-section {
            .content-section {
                width: 70%;
            }
        }
    }

}

@media screen and (max-width: 996px){
    .logo-svg {
        left: 35%;
    }

    // STRUCTURE 
    .section-container {
        .main-section {
            .content-section {
                left: calc(3vw + 70px);
                width: 65%;
            }
        }
    }

    // COMPETENCES 
    .competences-container {
        height: 145vh;
        .main-section {
            .summary-section {
                .elements {
                    .border-line {
                        height: calc(100vh - 60px);
                    }
                }
            }
            .content-section {
                .sub-content {
                    .globale {
                        .hover-me {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // PAGE REALISATIONS
    .realisation-container {
        .main-section {
            .content-section {
                .sub-content {
                    .row {
                        .col-lg-6 {
                            .background {
                                margin-bottom: 2rem;
                                height: 30vh;
                            }
                        }
                    }
                }
            }
        }
    }

    // CONTACT 
    .contact-container {
        height: 90vh;
        .main-section {
            .summary-section {
                .elements {
                    .border-line {
                        height: calc(100vh - 624px);
                    }
                }
            }
            .content-section {
                width: 70%;
                .sub-content {
                    .formulaire {
                        width: 100%;
                    }
                }
                
                .info-media {
                    position: relative;
                    bottom: 0;
                    padding-left: 0;
                    margin-top: 2rem;
                    border-left: none;
                    display: flex;
                    justify-content: space-around;
                    a {
                        text-align: center;
                        padding-left: 0;
                    }
                }
                .informations {
                    margin-bottom: 0;
                }
            }
        }
    }

    // PAGE PROJETS
    .projets-container {
        height: auto;
        padding-bottom: 12rem;
        .main-section {
            .content-section {
                width: 70%;
                top: 138px;
                .sub-content {
                    width: 100%;
                }
                .sub-content-illustration {
                    display: block;
                    img {
                        margin-bottom: 1rem;
                    }
                }
                .row {
                    .col-lg-2 {
                        .illustration {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
            .sub-illustration {
                bottom: 10px;
                top: auto;
                img {
                    width: 40em;
                }
                .large-img {
                    width: 35em;
                }
            }
        }
    }

}

@media screen and (max-width: 700px){
    .menu {
        #overlay-content {
            padding-top: 10vh;
        }
    }
    .logo-svg {
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
    }

    // STRUCTURE
    .section-container {
        height: auto;
        .main-section {
            display: block;
            .summary-section {
                position: initial;
                top: 0px;
                left: 0;
                text-align: center;
                width: 100%;
                padding-top: 2rem;
                padding-bottom: 2rem;
        
                .elements {
                    p {
                        color: white;
                        font-size: 3rem;
                        font-weight: bold;
                        opacity: 0.8;
                        letter-spacing: 5px;
                        text-align: center;
                    }
                    .border-line {
                        height: 30px;
                        width: 2px;
                        margin: 20px auto;
                    }
                    h3 {
                        transform: none;
                        margin: 0px auto 0 auto;
                        writing-mode: horizontal-tb;
                    }
                }
                
            }
            .content-section {
                position: initial;
                left: 0;
                width: 100%;
                padding: 50px 40px 50px 40px;
            }
        }
    }

    // PRESENTATION 
    .presentation-container {
        .main-section {
            .sub-illustration {
                display: none;
                
            }
        }
    }

    // COMPETENCES 
    .competences-container {
        .main-section {
            .content-section {
                .sub-title {
                    width: 100%;
                }
            }
        }
    }

    // CONTACT
    .contact-container {
        .main-section {
            .content-section {
                .info-media {
                    display: block;
                }
                .item-media {
                    justify-content: space-around;
                    margin-top: 1rem;
                }
                .informations {
                    justify-content: space-evenly;
                }
                .sub-content form {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }

    // PAGE REALISATIONS
    .realisation-container {
        .main-section {
            .content-section {
                .sub-content {
                    margin-top: 3rem;
                    .row {
                        .col-lg-6 {
                            .background {
                                margin-bottom: 2rem;
                                .blur {
                                    .content {
                                        padding-top: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // PAGE PROJETS
    .projets-container {
        padding-bottom: 5rem;
        .main-section {
            .content-section {
                .row {
                    .col-lg-2 {
                        .illustration {
                            margin-bottom: 2rem;
                        }
                    }
                    .col-lg-6 {
                        .projet {
                            width: 100%;
                            &:hover{
                                transform: none;
                                .description {
                                    width: 100%;
                                    height: 100%;
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                }

            }
            .sub-illustration {
                position: initial;
                text-align: center;
                img {
                    width: 90%;
                }
                .large-img {
                    width: 80%;
                }
            }
        }
    }

    .arrow-center {
        display: none;
    }
    
    .arrow-to-top {
        display: none;
    }

    .arrow-back {
        position: initial;
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 0.8rem;
    }

    .footer {
        height: auto;
    }

}
