@import "../utils/variables";

.contact-container {
    background-color: $second;
    position: relative;

    .main-section {

        .summary-section {

            .elements {
                .border-line {
                    height: calc(100vh - 390px);
                }
            }
        }

        .content-section {
            width: 70%;

            .sub-title {
                color: white;
        
                &:after {
                    content: "";
                    border-bottom: 3px solid white;
                }
            }

            .sub-content {
                .formulaire{
                    position: relative;
                    width: 50%;
                }
                form {
                    width: 90%;
                    padding: 1em;
                    // border: 2px solid white;
                    img{
                      width: 2rem;
                      margin: {
                        left: 0.5rem;
                        right: 0.5rem;
                      }
                    }
                }
                .input-form {
                    border: none;
                    border :{
                      bottom: 2px solid $primary;
                      radius: 0;
                    }
                    background-color: transparent;
                    padding: 1rem;
                    margin: {
                      bottom: 1rem;
                    }
                    color: white;
                    &::placeholder {
                        color: #a5a5a5;
                    }
                }
                .form-control:focus{
                    background-color: transparent;
                    border-color: white;
                }
                input:focus:invalid {
                    outline: none;
                  }
                  .error {
                    width: 100%;
                    padding: 0;
                    color: white;
                    background-color: #FDD;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                  }
                  .error.active {
                    padding: 0.3em;
                  }
                  .bouton-submit{
                    margin-top: 1rem;
                    color: white;
                    text-transform: uppercase;
                    border: none;
                    background-color: transparent;
                    &:hover{
                      background-color: $primary;
                    }
                }

                
            }

            .informations{
                display: flex;
                justify-content: center;
                margin-bottom: 4rem;
                color: white;
                a {
                    color: white;
                    text-decoration: none;
                }
                p {
                    padding-top: 1rem;
                }
            }
            .item-media{
                display: flex;
                justify-content: center;
                a{
                    padding: {
                    right: 1rem;
                    left: 1rem;
                    }
                }
            }
            .info-media{
                position: absolute;
                right: 0;
                bottom: 50%;
                border-left: 1px solid #a5a5a5;
                padding-left: 8%;
                img{
                    width: 3rem;
                }
            }
            .lien{
            text-decoration: none;
                &:hover{
                    text-decoration: none;
                    color: black;
                }
            }

        }
    }

    
}