@import "../utils/variables";

.mentionslegales {
    background: $gradientPrimary;
    padding: {
        top: 4rem;
        bottom: 4rem;
    }
    .title {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2rem;
    }
    .arrow-back {
        position: initial;
        text-align: center;
        a {
            color: white;
        }
    }
    a {
        color: black;
    }
}