@import "../utils/variables";

.presentation-container {
    background-color: $primary;

    .main-section {

        .summary-section {

            .elements {
                .border-line {
                    height: calc(100vh - 540px);
                }
            }
        }

        .sub-illustration {
            position: absolute;
            bottom: 0;
            right: 0;
        }

    }
 
}

.arrow-presentation {
    position: absolute;
    bottom: 30px;
    left: 30%;
    z-index: 2;
}

