@import "../utils/variables";

.projets-container {
    background: $gradientPrimary;
    position: relative;

    .main-section {

        .summary-section {
            position: fixed;

            .elements {
                .border-line {
                    height: calc(100vh - 485px);
                }
            }
        }

        .content-section {
            width: 80%;
            top: 25px;
            .row {
                .col-lg-6 {
                    .projet {
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 60%;
                        height: 40vh;
                        margin: auto;
                        &:hover{
                            transform: scale(2);
                            transition: 1.2s;
                            .description {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        .description {
                            background-color: rgba(255, 255, 255, 0.712);
                            padding-left: 1rem;
                            padding-top: 1rem;
                            font-size: 0.5rem;
                            height: 100%;
                            width: 50%;
                            justify-content: center;
                            display: none;
                            .icones {
                                img {
                                    width: 2em;
                                    padding-right: 0.3rem;
                                }
                                display: flex;
                                flex-direction: row;
                            }
                        }
                    }
                    .projet-1 {
                        background-image: url('../images/mockup-egalite.png');
                        &:hover {
                            transform: scale(2) translate(0, 9.5vh);
                        }
                    }
                    .projet-2 {
                        background-image: url('../images/mockup-files-explorer.png');
                        &:hover {
                            transform: scale(2) translate(-50px, 9.5vh);
                        }
                    }
                    .projet-3 {
                        background-image: url('../images/mockup-flappybird.png');
                        &:hover {
                            transform: scale(2) translate(0, -50px);
                            
                        }
                        
                    }
                    .projet-4 {
                        background-image: url('../images/mockup-maquette.png');
                        &:hover {
                            transform: scale(2) translate(-50px, -11vh);
                        }
                    }
                }
            }

        }


    }


}