@import "../utils/variables";

.realisation-container {
    background: $gradientPrimary;
    position: relative;

    .main-section {

        .summary-section {

            .elements {
                .border-line {
                    height: calc(100vh - 460px);
                }
            }
        }

        .content-section {
            top: 150px;
            width: 70%;

            .sub-content {
                img {

                }
            }
            .sub-content-text {

            }
        }

    }


}