@import "../utils/variables";

.realisation-container {
    background: $gradientPrimary;
    position: relative;

    .main-section {

        .summary-section {

            .elements {
                .border-line {
                    height: calc(100vh - 460px);
                }
            }
        }

        .content-section {
            top: 150px;
            width: 70%;

            .sub-content {
                margin-top: 6rem;
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: bold;
                .projets, .illustrations {
                    display: flex;
                    justify-content: space-around;
                    p {
                        padding: 1rem;
                        color: $primaryLight;
                        span {
                            display: none;
                        }
                        &:hover {
                            color: white;
                            span {
                                img { 
                                    width: 6em;
                                }
                                display: block;
                            }
                        }
                    }
                }
                
            }

        }

    }


}