@import "../utils/variables";


.section-container {
    height: 100vh;

    .main-section {
        display: flex;

        .summary-section {
            position: relative;
            top: 70px;
            left: calc(3vw + 40px);
            text-align: center;
            width: 80px;
            z-index: 1;
    
            .elements {
                p {
                    color: white;
                    font-size: 3rem;
                    font-weight: bold;
                    opacity: 0.8;
                    letter-spacing: 5px;
                }
                .border-line {
                    height: calc(100vh - 520px);
                    width: 2px;
                    background-color: white;
                    transform-origin: bottom left;
                    margin: 0 auto;
                }
                h2 {
                    transform-origin: 50% 50%;
                    transform: rotate(-180deg);
                    margin: 30px auto 0 auto;
                    writing-mode: tb-rl;
                    color: white;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    font-weight: bold;
                    letter-spacing: 5px;
                }
            }
            
        }
    
        .content-section {
            position: relative;
            top: 170px;
            left: calc(3vw + 160px);
            width: 33%;
            z-index: 1;
    
            .sub-title {
                color: black;
                text-transform: uppercase;
                font-size: 1.6rem;
                font-weight: bold;
                letter-spacing: 1px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    border-bottom: 3px solid black;
                    width: 50px;
                    bottom: -20px;
                }
            }
            .sub-content {
                margin-top: 4rem;
                text-align: justify;
                p {
                    color: #1e1e1e;
                }
            }
        }


    }
 
}

.arrow-center {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 2;
}

.arrow-to-top {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    transform: rotate(180deg);
}

.arrow-back {
    a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        i {
            color: white;
            padding-right: 1rem;
        }
    }
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 2;
    &:hover {
        margin-left: 1rem;
    }
}
